.backButton {
 background-color:lightgrey;
 border-radius: 15px;
 padding: 2%;
 align-self: flex-start;
 cursor: pointer;
 display: flex;
 margin-right:10%;
}

.leftArrow {
	background-image:url('/images/left_chevron.png');
	width:35px;
	height: 35px;
	display: inline-block;
}
.homeText {
	display: inline-block;
	align-self: center;
}
.catInfoGrid {
	display: flex;
}
.imageBoarder {
	max-width:30%;
	padding-bottom:2%;
	align-self: flex-start;
}
.fact {
	word-wrap: normal;
	padding-top: 5%;
	padding-left: 2%;
	padding-right: 2%;
	text-align: center;
	margin: auto;
	max-width: 70%;
}

.image {
	max-width: 100%;
	display: block;
	height: auto;
	border-radius:15px;
}

.imageAndFactContainer {
	position: relative;
	opacity: 0.5; 
}

.imageAndFactContainer:hover{
	position: relative;
	opacity: 1; 
	cursor: url('/images/magnifiying_glass.png'), auto;
}
.favorite {
	width:70px;
	height: 70px;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	cursor: pointer;
}
.favorite:hover {
	opacity: 1;
	z-index:1;
}
.selectedFavorite {
	background-image:url('/images/filledStar.png');
}

.unselectedFavorite {
	background-image:url('/images/blankStar.png');
}